# Logs
logs
*.log
.DS_Store

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Build directory
/node_modules
.gatsby-context.js
.sass-cache/
/public
.cache/
.vscode/

