.toggle_button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button_line {
  width: 32px;
  height: 2.7px;
  background: #000000;
}
